@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");

@font-face {
    font-family: 'Tenada';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/Tenada.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #101010;
    position: relative;
    overflow-x: hidden;
}
header {
    z-index: 5;
    width: 100%;
    top: 0;
    height: 4.8vw;
    background-color: rgb(10, 10, 10, 0.7);
    border-bottom: 2px solid rgb(57, 57, 57);
    display: flex;
    position: fixed;
    transition: top 0.5s ease-in-out;
    align-items: center;
}
.button span {
    display: block;
    position: absolute;
    width: 12vw;
    height: 8vh;
    text-align: center;
    line-height: 9vh;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
    pointer-events: none;
}
.button span:nth-child(1) {
    color: #FE5D02;
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button span:nth-child(2) {
    color: rgb(255, 255, 255, 0.7);
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
}
.button:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
}
.button:hover span:nth-child(2) {
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
}
.button {
    /* border: 1px solid red; */
    display: inline-block;
    line-height: 9vh;
    width: 10vw;
    height: 8vh;
    text-align: center;
}
ul {
    font-family: 'Pretendard';
    font-size: 1.1vw;
    list-style:none;
}
li {
    float: left;
}
header img {
    width: 1.8vw;
    margin-right: 2vw;
    margin-left: 1.8vw;
}
.mainbg {
    display: flex;
    width: 68vw;
    /* float: right; */
    padding-left: 30vw;
    margin-top: 10vw;
}
.mainmockup {
    position: absolute;
    width: 44vw;
    margin: 0 0 0 44vw;
}
.mainsymbol1 {
    position: absolute;
    width: 3vw;
    margin-left: 82vw;
    margin-top: 9vw;
    animation: motion1 2s ease-in-out 0s infinite alternate;
}
.mainsymbol2 {
    position: absolute;
    width: 5vw;
    margin-left: 38vw;
    margin-top: 19vw;
    animation: motion2 1.5s ease-in-out 0s infinite alternate;
}
.mainsymbol3 {
    position: absolute;
    width: 5vw;
    margin-left: 75vw;
    margin-top: 1vw;
    animation: motion3 3s ease-in-out 0s infinite alternate;
}
.mainsymbol4 {
    position: absolute;
    width: 5vw;
    margin-left: 44vw;
    margin-top: 36vw;
    animation: motion4 2.5s ease-in-out 0s infinite alternate;
}
.mainsymbol5 {
    position: absolute;
    width: 11vw;
    margin-left: 92vw;
    margin-top: 13vw;
    animation: motion5 3s ease-in-out 0s infinite alternate;
}
@keyframes motion1 {
	0% {margin-top: 10vw; transform: rotate(20deg);}
	100% {margin-top: 12vw; transform: rotate(30deg);}
}
@keyframes motion2 {
	0% {margin-top: 19vw; transform: rotate(-20deg);}
	100% {margin-top: 22vw; transform: rotate(-40deg);}
}
@keyframes motion3 {
	0% {margin-top: 2vw; transform: rotate(-40deg);}
	100% {margin-top: 4vw; transform: rotate(-60deg);}
}
@keyframes motion4 {
	0% {margin-top: 36vw; transform: rotate(-80deg);}
	100% {margin-top: 39vw; transform: rotate(-60deg);}
}
@keyframes motion5 {
	0% {margin-top: 13vw; transform: rotate(20deg);}
	100% {margin-top: 15vw; transform: rotate(40deg);}
}
.clipText {
    overflow:hidden;
    position:absolute;
    font-size: 4.2vw;
    letter-spacing:4px;
    margin: 7vw 0 0 10vw;
    font-family: 'Tenada';
    color: #FE5D02;
}

.clipText > h1,
.clipText > p{position:relative;}

.on{animation:cliptext 1s ease-in-out both;}

@keyframes cliptext {
    0%{
        clip-path:polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
        transform:translateY(100%);
    }
    95%{
        transform:translateY(0%);
    }
    100%{
        clip-path:polygon(0% 00%, 100% 0%, 100% 100%, 0% 100%);
    }
}

h2 {
    font-size: 1.3vw;
    color:rgb(106, 106, 106);
    font-family: 'Pretendard';
    font-weight: 700;
    position:absolute;
    letter-spacing:0.4vw;
    margin: 16vw 0 0 10vw;
}
h3 {
    font-size: 1.3vw;
    color:white;
    font-family: 'Pretendard';
    font-weight: 300;
    position:absolute;
    margin: 19vw 0 0 10vw;
}
h4 {
    /* position:absolute; */
    font-family: 'Tenada';
    font-size: 1.8vw;
    font-weight: 600;
    color: #FE5D02;
    margin: 0 0 0 10vw;
}
#background {
    margin-top: -20vw;
}
.back01 {
    margin-top: 8vw;
    width: 58vw;
    border-top-right-radius: 60px;
}
.back02 {
    margin-top: 15vw;
    width: 58vw;
    float: right;
    border-top-left-radius: 60px;
}
.back03 {
    width: 58vw;
    border-top-right-radius: 60px;
}
#h501 {
    z-index: 1;
    color: rgb(126, 126, 126);
    font-size: 1.3vw;
    margin: 14vw 0 0 56vw;
    font-family: 'Pretendard';
    position:absolute;
    
}
#h601 {
    z-index: 1;
    color: #FE5D02;
    font-size: 1.5vw;
    margin: 18vw 0 0 56vw;
    font-family: 'Pretendard';
    font-weight: 600;
    position:absolute;
}
#h502 {
    z-index: 1;
    color: rgb(126, 126, 126);
    font-size: 1.3vw;
    margin: 22vw 0 0 10vw;
    font-family: 'Pretendard';
    position:absolute;
    
}
#h602 {
    z-index: 1;
    color: #FE5D02;
    font-size: 1.5vw;
    margin: 26vw 0 0 10vw;
    font-family: 'Pretendard';
    font-weight: 600;
    position:absolute;
}
#h503 {
    z-index: 1;
    color: rgb(126, 126, 126);
    font-size: 1.3vw;
    margin: 8vw 0 0 56vw;
    font-family: 'Pretendard';
    position:absolute;
    
}
#h603 {
    z-index: 1;
    color: #FE5D02;
    font-size: 1.5vw;
    margin: 12vw 0 0 56vw;
    font-family: 'Pretendard';
    font-weight: 600;
    position:absolute;
}
.backtext1 {
    z-index: 1;
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    margin: 22vw 0 0 56vw;
    font-weight: 300;
    position:absolute;
    line-height: 2vw;
}
.backtext2 {
    z-index: 1;
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    margin: 30vw 0 0 10vw;
    font-weight: 300;
    position:absolute;
    line-height: 2vw;
}
.backtext3 {
    z-index: 1;
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    margin: 16vw 0 0 56vw;
    font-weight: 300;
    position:absolute;
    line-height: 2vw;
}
#nextName {
    color: white;
    font-family: 'Pretendard';
    font-weight: 600;
    float: left;
    margin-right: 1vw;
}
.persona01 {
    width: 7vw;
}
.persona02 {
    width: 5vw;
}
.persona03 {
    width: 6vw;
}
.personabox {
    display: flex;
}
.personabg {
    margin: 4vw -0 0 -1vw;
    width: 40vw;
}
.sonabox {
    position: relative;
    height: 10vw;
    width: 44vw;
    background-color: #282828;
    border-radius: 26px;
    border: 1px solid #525252;
    margin: 3vw 0 0 -4vw;
}
.sonabox:nth-child(2) {
    margin: 3vw 0 0 4vw;
}
.sonaboxxx {
    position: relative;
    margin-top: 8vw;
}
.sonatext {
    color: white;
    font-size: 1.2vw;
    font-family: 'Pretendard';
    margin: 1.8vw 0 0 5vw;
    font-weight: 400;
}
.sonatext2 {
    color: rgb(255, 255, 255);
    font-size: 1.1vw;
    font-family: 'Pretendard';
    margin: 1.5vw 0 0 5vw;
    font-weight: 300;
    line-height: 1.6vw;
}
.age {
    font-size: 1vw;
    font-weight: 500;
    color: rgb(106, 106, 106);
    margin-left: 2vw;
}
.won {
    position: absolute;
    width: 9vw;
    height: 9vw;
    background-color: #FE5D02;
    border-radius: 300px;
    left: -6vw;
    top: 0.5vw;
    
}
.won img {
    position: absolute;
    left: 50%; /* 왼쪽 여백의 중간 지점을 기준으로 */
    top: 50%; /* 위쪽 여백의 중간 지점을 기준으로 */
    transform: translate(-50%, -50%);
    /* width: 8vw; */
}
.titlepersona {
    position: absolute;
    font-family: 'Tenada';
    font-size: 1.8vw;
    font-weight: 100;
    color: #FE5D02;
    margin: 28vw 0 0 10vw;
}
.subTitle {
    color: white;
    font-size: 1.2vw;
    font-family: 'Pretendard';
    margin: 3vw 0 0 10vw;
    font-weight: 300;
    line-height: 2vw;
}
#centertitle {
    /* margin-top: 50px; */
    text-align: center;
    font-family: 'Tenada';
    font-size: 1.8vw;
    font-weight: 600;
    color: #FE5D02;
}
.centersubTitle {
    text-align: center;
    color: white;
    font-size: 1.2vw;
    font-family: 'Pretendard';
    font-weight: 300;
    line-height: 2vw;
    margin-top: 3vw
}
.goalcircle {
    margin: 6vw -2vw 0 -2vw;
    width: 20vw;
    height: 20vw;
    border-radius: 300px;
    background-color: rgb(254, 93, 2, 0.15);
    border: 1px solid #FE5D02;
    position: relative;
    transition: opacity 1.2s ease;
    opacity: 0;
}
#goal {
    margin-top: -10vw;
    text-align: center;
    position: relative;
}
.goalb {
    color: white;
    font-size: 1.4vw;
    font-family: 'Pretendard';
    font-weight: 500;
}
.goaltext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2vw;
    font-family: 'Pretendard';
    font-weight: 300;
    line-height: 2vw;
}

.circle3 {
    display: flex;
    justify-content: center;
}

#goal img {
    display: block;
    margin: 0 auto;
    height: 14vw;
    margin-bottom: 2vw;
}
/* #user {
    border:1px solid #FE5D02;
} */

#make{
    margin-top: -10vw;
    position: relative;
    height: 100vh;
}
.makeimg {
    top: 60%;
    transform: translate(-50%, -50%);
    position: absolute;
    z-index: -1;
    margin-left: 30vw;
    width: 38vw;
    transition: transform 0.6s ease;
        /* border: 1px solid red; */
}

.makebg {
    /* background: linear-gradient(to bottom, #FE5D02 40%, #101010); */
    /* background: #101010; */
    z-index: -2;
    height: 20vw;
    width: 100%;
    position: absolute;
    top: 30vw;
    /* border: 1px solid red; */
    transition: opacity 2s ease;
    opacity: 0;
}
#designkeyword {
    position: relative;
}
.keyword {
    /* position: absolute; */
    clip-path: inset(26% 0 0 0); /* 윗부분 50%를 잘라냅니다 */
    width: 80vw;
    margin-top: -10vw;
    margin-left: 14vw;
}

.symbol01 {
    position: absolute;
    width: 9.5vw;
    margin: 9.8vw 0 0 11.8vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.symbol02 {
    position: absolute;
    width: 8.8vw;
    transform: rotate(45deg);
    margin: 10vw 0 0 28.4vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.symbol03 {
    position: absolute;
    width: 9.5vw;
    margin: 9.9vw 0 0 45.3vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.symbol04 {
    position: absolute;
    width: 9.5vw;
    height: 10.5vw;
    margin: 9.35vw 0 0 62.2vw;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.symbol05 {
    position: absolute;
    width: 10.8vw;
    margin: 9.4vw 0 0 77.4vw;
    transform: rotate(-5deg);
    opacity: 0;
    transition: opacity 0.5s ease;
}
.centersymbolTitle {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 1.4vw;
    font-family: 'Pretendard';
    font-weight: 300;
    line-height: 2vw;
}
/* .maketext {
    font-family: 'Super Dessert';
    color: white;
    font-size: 19vw;
    text-align: center;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: -1;
    margin: 0 0 0 4vw;
    transition: transform 0.6s ease;
    mix-blend-mode: screen;
} */

/* .makeimg.animate {
transform: translateY(100%);
} */

#scroll-value {
    color:aliceblue;
    top:200px;
    position: fixed;
    z-index: 5;
}
.WARMHEARTED {
    background-color: #FE5D02;
    width: 50vw;
    height: 22vw;
    color: white;
    font-size: 1.5vw;
    font-family: 'Pretendard';
    font-weight: 600;
    padding: 2vw 0 0 2vw;
    transition: all 0.2s linear;
}
.WARMHEARTED:hover {
    background-image: url(./img/orange.png);
    background-size: cover;
    transform: scale(1.05);
}
.SUNSHINE {
    background-color: #FF9211;
    width: 20vw;
    height: 22vw;
    color: white;
    font-size: 1.5vw;
    font-family: 'Pretendard';
    font-weight: 600;
    padding: 2vw 0 0 2vw;
    transition: all 0.2s linear;
}
.SUNSHINE:hover {
    background-image: url(./img/orange2.png);
    background-size: cover;
    transform: scale(1.1);
}
.FUTUREBLUE {
    background-color: #4246E7;
    width: 40vw;
    height: 22vw;
    color: white;
    font-size: 1.5vw;
    font-family: 'Pretendard';
    font-weight: 600;
    padding: 2vw 0 0 2vw;
    transition: all 0.2s linear;
}
.FUTUREBLUE:hover {
    background-image: url(./img/blue.png);
    background-size: cover;
    transform: scale(1.1);
}
.THEATER {
    background-color: #101010;
    width: 20vw;
    height: 22vw;
    color: white;
    font-size: 1.5vw;
    font-family: 'Pretendard';
    font-weight: 600;
    padding: 2vw 0 0 2vw;
    transition: all 0.2s linear;
}
.THEATER:hover {
    background-image: url(./img/black.png);
    background-size: cover;
    transform: scale(1.1);
}
.colorimg {
    display: flex;
    margin-top: 5vw;
    overflow: hidden;
}
.colorsystem {
    display: flex;
    margin-top: 5vw;
    overflow: hidden;
}
.colortext {
    color: white;
    font-size: 1vw;
    font-family: 'Pretendard';
    font-weight: 300;
    margin-bottom: 0.4vw;
}
.symbolimg {
    display: flex;
}
.symbolimg img:nth-child(1) {
    width: 49vw;
    height: 49vw;
    margin: 4vw 0 0 1vw;
    /* border-radius: 60px; */
}
.symbolimg img:nth-child(2) {
    width: 49vw;
    height: 49vw;
    margin: 4vw 0 0 0;
    /* border-radius: 60px; */
}
.movie {
    width: 100%;
    height: 24vw;
    background: url(./img/movie.png) no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#ONBORDING {
    text-align: center;
    position: relative;
}
#ONBORDING img {
    width: 20vw;
    margin-top: 4vw;
}
#homephone {
    margin-left: -4vw;
}
.homegif {
    width: 20vw;
    margin: 4vw 0 0 54vw;
    position: relative;
}
.homebar2 {
    margin: 26.5vw 0 0 49vw;
    position: absolute;
    width: 7vw;
    z-index: 1;
}
.homebar {
    margin: 17.4vw 0 0 72vw;
    position: absolute;
    width: 6.1vw;
    z-index: 1;
}
.hometext {
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 26.2vw 0 0 36vw;
}
.hometext2 {
    color:rgb(182, 182, 182);
    font-size: 1vw;
    line-height: 1.7vw;
    font-family: 'Pretendard';
    font-weight: 250;
    position: absolute;
    margin: 28.7vw 0 0 36vw;
}
.hometext3 {
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 17.2vw 0 0 79vw;
}
.hometext4 {
    color:rgb(182, 182, 182);
    font-size: 1vw;
    line-height: 1.7vw;
    font-family: 'Pretendard';
    font-weight: 250;
    position: absolute;
    margin: 19.7vw 0 0 79vw;
}

.quizimg {
    width: 20vw;
    margin: 4vw 0 0 10vw;
}
.quizimg2 {
    width: 17.5vw;
    margin: 0 0 0 2vw;
}
.quizimg3 {
    width: 17.5vw;
    margin: 0 0 0 2vw;
}
.quizimg4 {
    width: 17.5vw;
    margin: 0 0 0 2vw;
}
.moviemain {
    width: 20vw;
    margin: 8vw 10vw 0 10vw;
    position: relative;
}

.moviedetail {
    width: 20vw;
    margin: 18vw 30vw 0 -3vw;
    position: absolute;
}

.moviecheck {
    width: 20vw;
    margin: 28vw 10vw 0 24vw;
    position: absolute;
}
.movieline {
    width: 14vw;
    position: absolute;
    margin: 46vw 0 0 34vw;
    opacity: 0;
}
@keyframes reveal {
    0% { clip-path: polygon(0 0, 100% 0, 100% 0%, 0 0%); }
    100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
  }
  
  .reveal {
    animation: reveal 5s forwards;
  }

.array {
    position: absolute;
    margin: 28vw 0 0 -8.5vw;
    width: 4vw;
}
.array2 {
    position: absolute;
    margin: 38vw 10vw 0 18.5vw;
    width: 4vw;
}
#entry {
    padding-top: 10vw;
    /* border: 1px solid red; */
}
.entry {
    width: 20vw;
    margin: 0 10vw 0 64vw;
    position: absolute;
}
.entry2 {
    width: 20vw;
    margin: 10vw 0 0 37.2vw;
    position: relative;
}
.entrybar2 {
    margin: 38vw 0 0 33vw;
    position: absolute;
    width: 7vw;
    z-index: 1;
}
.entrybar {
    margin: 31vw 0 0 73.8vw;
    position: absolute;
    width: 0.7vw;
    z-index: 1;
}
.entrytext {
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 37.7vw 0 0 21vw;
}
.entrytext2 {
    color:rgb(182, 182, 182);
    font-size: 1vw;
    line-height: 1.7vw;
    font-family: 'Pretendard';
    font-weight: 250;
    position: absolute;
    margin: 40.2vw 0 0 21vw;
}
.entrytext3 {
    text-align: center;
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 42.2vw 0 0 69.6vw;
}
.entrytext4 {
    text-align: center;
    color:rgb(182, 182, 182);
    font-size: 1vw;
    line-height: 1.7vw;
    font-family: 'Pretendard';
    font-weight: 250;
    position: absolute;
    margin: 44.7vw 0 0 68vw;
}
.care01 {
    width: 20vw;
    margin: 4vw 0 0 10vw;
}
.care02 {
    width: 20vw;
    margin: 4vw 0 0 38.6vw;
}
.Carebar2 {
    margin: 11.7vw 0 0 20vw;
    position: absolute;
    width: 16vw;
    z-index: 1;
}
.Carebar {
    margin: 39vw 0 0 63.8vw;
    position: absolute;
    width: 8vw;
    z-index: 1;
}
.Caretext {
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 11.5vw 0 0 37.4vw;
}
.Caretext2 {
    color:rgb(182, 182, 182);
    font-size: 1vw;
    line-height: 1.7vw;
    font-family: 'Pretendard';
    font-weight: 250;
    position: absolute;
    margin: 14vw 0 0 37.4vw;
}
.Caretext3 {
    color: white;
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 38.6vw 0 0 52vw;
}
.Caretext4 {
    color:rgb(182, 182, 182);
    font-size: 1vw;
    line-height: 1.7vw;
    font-family: 'Pretendard';
    font-weight: 250;
    position: absolute;
    margin: 41.1vw 0 0 52vw;
}
.community01 {
    width: 24vw;
    margin: 4vw 0 0 10vw;
}
.community01_2 {
    position: absolute;
    width: 22vw;
    margin: 14.4vw 0 0 10vw;
    transition: transform 1s ease;
}
.community02 {
    width: 18vw;
    top: 0;
    margin: 0 0 0 12vw;
}
.community03 {
    width: 18vw;
    margin: 0 0 0 6vw;
}
.Communitytext1 {
    color: rgb(182, 182, 182);
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 52.6vw 0 0 50vw;
}
.Communitytext2 {
    color: rgb(182, 182, 182);
    font-size: 1.1vw;
    font-family: 'Pretendard';
    font-weight: 500;
    position: absolute;
    margin: 52.6vw 0 0 75vw;
}
.tag01 {
    width: 18vw;
    margin: 4vw 0 0 10vw;
    transition: background 0.5s;
    background-size: cover;
}
.tag02 {
    width: 9vw;
    margin: 5vw 0 15vw 4vw;
    transition: background 0.5s;
    background-size: cover;
}
.tag03 {
    width: 9vw;
    margin: 5vw 0 15vw 3vw;
    transition: opacity 0.5s ease;
}
.tag04 {
    width: 9vw;
    margin: 5vw 0 15vw 3vw;
    transition: opacity 0.5s ease;
}
.tag05 {
    width: 9vw;
    margin: 5vw 0 15vw 3vw;
    transition: opacity 0.5s ease;
}
.tag06 {
    width: 9vw;
    margin: 5vw 0 15vw 3vw;
    transition: opacity 0.5s ease;
}
section {
    margin: 0 0 20vw 0;
    position: relative;
    /* border: 1px solid red; */
}
footer {
    position: relative;
    margin: 0 0 4vw 0;
    /* border: 1px solid red; */
}
footer img{
    /* width: 8vw; */
    margin-bottom: 2vw;
    height: 10vw;
    margin-right: 8.9vw;
}
.footerimg {
    margin: 10vw 0 0 0;
}
.footertext {
    color: white;
    font-size: 1.2vw;
    font-family: 'Pretendard';
    font-weight: 600;
}
.footermail {
    color:rgb(106, 106, 106);
    font-size: 1vw;
    font-family: 'Pretendard';
    font-weight: 300;
    margin: 2vw 0 0 0;
}
#FRUVlogo {
    margin: 9.5vw 0 0 12vw ;
    width: 2.2vw;
    height: 2.2vw;
}
.FRUVspan {
    color:rgb(106, 106, 106);
    font-size: 1.4vw;
    font-family: 'Tenada';
    margin-right: 1vw;
}
.footerright {
    display: flex;
}
.footerli {
    color:rgb(106, 106, 106);
    font-size: 1vw;
    font-family: 'Pretendard';
    font-weight: 300;
    margin: 10vw 0 0 1vw;
}
.lower {
    display: flex;
    margin-left: 12vw;
}
.ball01 {
    /* width: 2vw; */
    height: 2vw;
    margin: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
    opacity: 50%;
    }
#heart {
    width: 3vw;
    height: 3vw;
    margin: 1vw;
    margin-right: 2vw;
    margin-left: 2vw;
    }

.animated-title {
    z-index: -1;
    margin-top: 19vw;
    position: absolute;
    color: white;
    font-size: 2vw;
    font-family: 'Pretendard';
    font-weight: 300;
    width: 100%;
    padding: 4vw 0 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: 1px solid red; */
}
.animated-title2 {
    z-index: -1;
    margin-top: 14vw;
    position: absolute;
    color: white;
    font-size: 2vw;
    font-family: 'Pretendard';
    font-weight: 300;
    width: 100%;
    padding: 4vw 0 0 0;
    overflow-x: hidden;
    overflow-y: hidden;
    /* border: 1px solid red; */
}
.content {
    display: flex;
    justify-items: center;
    align-items: center;
}
.animated-title .track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee 14s linear infinite;
}
.animated-title2 .track {
    white-space: nowrap;
    will-change: transform;
    animation: marquee2 14s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@keyframes marquee2 {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

@media (hover: hover) and (min-width: 700px) {
.animated-title .content {
    -webkit-transform: translateY(calc(100% - 8rem));
    transform: translateY(calc(100% - 8rem));
}
}
@media (hover: hover) and (min-width: 700px) {
    .animated-title2 .content {
        -webkit-transform: translateY(calc(100% - 8rem));
        transform: translateY(calc(100% - 8rem));
    }
    }
.userreserch {
position: relative;
width: 19vw;
height: 25vw;
background: linear-gradient(to bottom, #212121 40%, #101010);
border-radius: 26px;
/* border: 1px solid #3c3c3c; */
margin-left: 2vw;
color: white;
font-size: 1vw;
font-family: 'Pretendard';
font-weight: 300;
padding-top: 1.2vw;
padding-left: 1.6vw;
line-height: 1.6vw;
}
.users {
display: flex;
justify-items: center;
align-items: center;
}
.graphgroup {
margin-left: 12vw;
display: flex;
}
.centeruser {
    font-size: 1vw;
    color:rgb(182, 182, 182);
    text-align: center;
    margin-left: 5.3vw;
    margin-top: 7vw;
    position: absolute;
    z-index: 1;
}
.donut {
    width: 15vw;
    height: 15vw;
    top: 38%; /* 상단에서 중앙으로 이동 */
    left: 50%; /* 왼쪽에서 중앙으로 이동 */
    transform: translate(-50%, -50%); 
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin-left: -1vw;
    background: conic-gradient(#FE5D02 0% 54%, #303030 54% 100%);
    display:flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.donut::before {
    top: 50%; /* 상단에서 중앙으로 이동 */
    left: 50%; /* 왼쪽에서 중앙으로 이동 */
    transform: translate(-50%, -50%); 
    color: #ffffff;
    width: 9vw;
    height: 9vw;
    background: #212121;
    border-radius: 50%;
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    content: attr(data-percent)'%';
    font-family: 'Pretendard';
    font-size: 1.4vw;
}
.graph {
    margin-left: 0.24vw;
    margin-top: 4vw;
    display: flex;
}
.graph ul li{
    margin-right: 1vw;
}
.graph1 {
    border-radius: 10px;
    width: 2.6vw;
    height: 14vw;
    background: linear-gradient(to bottom, #303030 40%, #212121);
}
.graph2 {
    margin-top: 1.5vw;
    border-radius: 10px;
    width: 2.6vw;
    height: 12.5vw;
    background-color: #FE5D02;
    opacity: 0;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 2s ease, opacity 2s ease;
}
.graphbuttom {
    line-height: 1vw;
    font-family: 'Pretendard';
    font-size: 0.8vw;
    position: absolute;
    color: white;
    text-align: center;
    margin: 14.8vw 0 0 0.1vw;
}
.graphtop {
    line-height: 1vw;
    font-family: 'Pretendard';
    font-size: 0.8vw;
    position: absolute;
    color: white;
    text-align: center;
    margin: -1.6vw 0 0 0.1vw;
}
.graphtop2 {
    line-height: 1vw;
    font-family: 'Pretendard';
    font-size: 1vw;
    font-weight: 500;
    position: absolute;
    color: white;
    text-align: center;
    margin: -0.1vw 0 0 0.1vw;
}
.graphtop3 {
    line-height: 1vw;
    font-family: 'Pretendard';
    font-size: 0.8vw;
    position: absolute;
    color: white;
    text-align: center;
    margin: 1.4vw 0 0 0.1vw;
}
.graphtop4 {
    line-height: 1vw;
    font-family: 'Pretendard';
    font-size: 0.8vw;
    position: absolute;
    color: white;
    text-align: center;
    margin: 2.9vw 0 0 0.1vw;
}
.graphtop5 {
    line-height: 1vw;
    font-family: 'Pretendard';
    font-size: 0.8vw;
    position: absolute;
    color: white;
    text-align: center;
    margin: 4.4vw 0 0 0.1vw;
}

.graph3 {
    margin-top: 3vw;
    border-radius: 10px;
    width: 2.6vw;
    height: 11vw;
    background: linear-gradient(to bottom, #303030 40%, #212121);
}
.graph4 {
    margin-top: 4.5vw;
    border-radius: 10px;
    width: 2.6vw;
    height: 9.5vw;
    background: linear-gradient(to bottom, #303030 40%, #212121);
}
.graph5 {
    margin-top: 6vw;
    border-radius: 10px;
    width: 2.6vw;
    height: 8vw;
    background: linear-gradient(to bottom, #303030 40%, #212121);
}
.graphbuttom2 {
    line-height: 1vw;
    font-family: 'Pretendard';
    font-size: 0.9vw;
    position: absolute;
    color: white;
    text-align: center;
    margin: 3vw 0 0 4.5vw;
    display: flex;        /* Flexbox layout을 적용 */
    align-items: center;  /* 세로 가운데 정렬 */
}

.clusers {
    margin: 0.4vw;
    width: 1vw;
}

.clusers2 {
    margin: 0.4vw;
    width: 1vw;
    margin-left: 1vw;
}
.fruvvideo {
    width: 100%;
}
.three {
    width: 100%;
}
.onback01 {
    position: absolute;
    margin: 8vw 0 0 28vw;
    width: 40vw;
}
.onback02 {
    position: absolute;
    margin: 90vw 0 0 56vw;
    width: 36vw;
}
.onback03 {
    position: absolute;
    margin: 130vw 0 0 -10vw;
    width: 36vw;
}
.onback04 {
    position: absolute;
    margin: 270vw 0 0 49vw;
    width: 36vw;
}
.onback05 {
    position: absolute;
    margin: 390vw 0 0 20vw;
    width: 36vw;
}